In [1]:
# import libraries and read data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./Netflix Shows.csv',encoding="latin-1")

In [4]:
data.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [5]:
data.tail()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [6]:
data.shape

(1000, 7)

In [7]:
data.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [8]:
type(data)

pandas.core.frame.DataFrame

# loc
# iloc

## Loc is label based selection
. iloc index based selection

In [15]:
data.loc[(data.rating=="PG-13")& (data['release year']== 2011)]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
273,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
322,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82

In [16]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [17]:
data.notnull().sum()

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

In [21]:
data.loc[(data.rating=="TV-14")& (data["user rating score"]>=90)]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
...,...,...,...,...,...,...,...
472,Person of Interest,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,93.0,80
474,Scandal,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,92.0,80
476,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
477,The Client List,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2013,92.0,80
483,The Blacklist,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [26]:
data.loc[(data.rating=="TV-14"),["title","ratingLevel"]]

                   title                                        ratingLevel
2         Grey's Anatomy  Parents strongly cautioned. May be unsuitable ...
3           Prison Break  Parents strongly cautioned. May be unsuitable ...
5           Supernatural  Parents strongly cautioned. May be unsuitable ...
7    The Vampire Diaries  Parents strongly cautioned. May be unsuitable ...
9    Pretty Little Liars  Parents strongly cautioned. May be unsuitable ...
..                   ...                                                ...
489             Rosewood  Parents strongly cautioned. May be unsuitable ...
491             Quantico  Parents strongly cautioned. May be unsuitable ...
492            Limitless  Parents strongly cautioned. May be unsuitable ...
495          No Tomorrow  Parents strongly cautioned. May be unsuitable ...
499            Greenleaf  Parents strongly cautioned. May be unsuitable ...

[234 rows x 2 columns]

In [33]:
data.iloc[[2,88],0:7]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
88,Finding Dory,PG,mild thematic elements,60,2016,98.0,80

In [34]:
data.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

# OneHotEncoding

In [35]:
data

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [36]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [40]:
data["user rating score"].fillna(data["user rating score"].mean(),inplace=True)

In [42]:
data["user rating score"].dtype

dtype('float64')